<table>
  <tr>
    <td>Time slot</td>
    <td>Book Appoinment</td>
  </tr>
  <tr>
    <td>9:00 - 10:00</td>
    <td><button (click)='bookAppoinment(9)' [ngClass]='{"active": time == "9"}'> Book Now</button></td>
  </tr>
  <tr>
    <td>10:00 - 11:00</td>
    <td><button (click)='bookAppoinment(10)' [ngClass]='{"active": time == "10"}'> Book Now</button></td>
  </tr>
  <tr>
    <td>11:00 - 12:00</td>
    <td><button (click)='bookAppoinment(11)' [ngClass]='{"active": time == "11"}'> Book Now</button></td>
  </tr>
  <tr>
    <td>12:00 - 13:00</td>
    <td><button (click)='bookAppoinment(12)' [ngClass]='{"active": time == "12"}'> Book Now</button></td>
  </tr>
  <tr>
    <td>13:00 - 14:00</td>
    <td><button (click)='bookAppoinment(13)' [ngClass]='{"active": time == "13"}'> Book Now</button></td>
  </tr>
  <tr>
    <td>14:00 - 15:00</td>
    <td><button (click)='bookAppoinment(14)' [ngClass]='{"active": time == "14"}'> Book Now</button></td>
  </tr>
  <tr>
    <td>15:00 - 16:00</td>
    <td><button (click)='bookAppoinment(15)' [ngClass]='{"active": time == "15"}'> Book Now</button></td>
  </tr>
  <tr>
    <td>16:00 - 17:00</td>
    <td><button (click)='bookAppoinment(16)' [ngClass]='{"active": time == "16"}'> Book Now</button></td>
  </tr>
</table>